.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  margin: 0 0 50px 0;
}

.title-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.title-section img {
  width: 30px;
  height: 30px;
}

.header h2 {
  padding: 0;
  margin: 0;
  font-size: 2.5rem;
}

.header h2 span {
  color: #37e189;
  text-decoration: underline;
}

.header nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.nav-item {
  cursor: pointer;
  color: var(--nav-item-color);
  text-decoration: underline;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: auto;
  background-color: var(--modal-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 25px;
  border-radius: 30px;
}

.modal h2 {
  text-decoration: underline;
}

.modal p {
  text-align: center;
}